<section class="contenedor">

    <div class="item1 card">
      
  <div class="main">
    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">Producto</th>
          <th scope="col"></th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Entrega</th>
          <th scope="col"></th>
  
         
        </tr>
       
      </thead>
     
      <tbody >
     
        <tr >
  
          <td>
            <img src="../assets/jugo.jpg" style="width: 100px; height: 100px;">
  
          </td>
         
          <td>Quisque convallis nibh</td>
          <td>
            <div class="precios">
  
              <span class="increment" >+</span>
              <span class="num">0</span>
              <span class="decrement">-</span>
            </div>
          </td>
          <td>
     
            $1,00
  
          </td>
          <td>   <i style='font-size:24px; color:mediumslateblue;' class='fas' data-bs-toggle="modal" data-bs-target="#exampleModal">&#xf073;</i></td>
  
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: blue;">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </td>
         
  
  
  
          
  
        </tr>
        <tr>
          <td>
  
            <img src="../assets/snack.jpg" style="width: 100px; height: 100px;">
          </td>
          <td>Quisque convallis nibh</td>
          <td>
            <div class="precios">
  
              <span class="increment" >+</span>
              <span class="num">0</span>
              <span class="decrement">-</span>
            </div>
          </td>
          <td>
          $1,50
          </td>
          <td> 
           
            <i style='font-size:24px; color:mediumslateblue;' class='fas' data-bs-toggle="modal" data-bs-target="#exampleModal">&#xf073;</i>
          
        </td>
      
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: blue;">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </td>
        </tr>
        <tr>
          <td>
  
            <img src="../assets/food.jpg" style="width: 100px; height: 100px;">
          </td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, praesentium! Quibusdam blanditiis excepturi, repellendus tenetur, neque harum molestiae rem aspernatur </td>
          <td>
            <div class="precios">
  
              <span class="increment" >+</span>
              <span class="num">0</span>
              <span class="decrement">-</span>
            </div>
          </td>
          <td>
         $3,50
          </td>
          <td>   <i style='font-size:24px; color:mediumslateblue;' class='fas' data-bs-toggle="modal" data-bs-target="#exampleModal">&#xf073;</i></td>
         
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: blue;">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
     
  
    </div>
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="titledate ">
  
              <div class="titlepa">
                <div class="bord">
               
                </div>
                <div>Fecha de entrega</div>
              </div>
              
              <div class="d-flex">
                <div>
                  <img src="../assets/img1.jpg" style="width:30px; height:30px;">
                </div>
    
                <div>
                  <img src="../assets/img2.jpg" style="width:30px; height:30px;">
                </div>
              </div>
  
          
  
            </div>
           
         
          <div class="modal-body">
            <p class="recuerda">Recuerda: <small class="parrafo">Los productos <strong>especiales</strong> y <strong>almuerzos</strong> no pueden ser 
              seleccionados para entrega de fechas recurrentes 
            </small></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary close "data-bs-dismiss="modal">Cerrar</button>
     
          </div>
        </div>
      </div>
    </div>
  
  <div class="contents">
    <div class="card item2">
  
  <div class="main">
    <table class="table">
      <thead>
        <tr>
      <th scope="col">Asignar Pedido </th>
           
        </tr>
      </thead>
      <tbody>
        <tr class="form-check">
         
          <div >
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Melina Beatriz Zambrano Rodriguez
            </label>
          </div>
      
      
     
        </tr>
        <tr class="form-check">
        
          <div >
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Thalia Camila Zambrano Rodriguez
            </label>
          </div>
    
       
        </tr>
  
        <tr class="form-check">
        
          <div >
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Axel Gabriel Zambrano Rodriguez
            </label>
          </div>
    
       
        </tr>
      </tbody>
    </table>
  </div>
    
    </div>
  
  
  
    <div class="card item3">
  
      <div class="main">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Total a Pagar</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Subtoal</td>
              <td></td>
              <td></td>
              <td>$6,00</td>
            </tr>
            <tr>
              <th scope="row">TOTAL</th>
              <td></td>
              <td></td>
              <td><strong>$6,00</strong></td>
            </tr>
            <!-- <tr>
              <th scope="row"></th>
              <td colspan="2"></td>
              <td><strong></strong></td>
            </tr> -->
            <button class="btn btn-warning bt">COMPRAR</button>
          </tbody>
         
        </table>
        
      </div>
      
   
  
    </div>
  
   
  
   
  </div>
  
  
  
  
  </section>
  
